{% set packages = cart|coreshop_market_warehouse_order_packages %}

{% for package in packages %}
    <h1>{{ package.key }}</h1>
    <p>
        {% if package.warehouse %}
            {{ package.warehouse.supplier.name }}<br/>
            {{ package.warehouse.identifier }}
        {% endif %}
    </p>

    {% for item in package.items %}
        {{ item.orderItem.product.name }} - Qty: {{ item.quantity }}<br/>
    {% endfor %}
{% endfor %}
