{% import "@CoreShopFrontend/Common/Macro/currency.html.twig" as currency %}

{% set packages = cart|coreshop_market_warehouse_order_packages %}

{% for package in packages %}
    <h1>{{ package.key }}</h1>
    <p>
        {% if package.warehouse %}
            Supplier: {{ package.warehouse.supplier.name }}<br/>
            Supplier Warehouse {{ package.warehouse.identifier }}<br/>
        {% endif %}

        {% if package.carrier %}
            <br/>
            Carrier: {{ package.carrier.title }}
            Subtotal (Package Price): {{ currency.convertAndFormat(package.subtotal) }}<br/>
            Shipping (Package): {{ currency.convertAndFormat(package.shipping(true)) }} (Net: {{ currency.convertAndFormat(package.shipping(false)) }})<br/>
        {% endif %}
    </p>

    Items: <br/>
    {% for item in package.items %}
        {{ item.orderItem.product.name }} - Qty: {{ item.quantity }} - Total: {{ currency.convertAndFormat(item.total) }}<br/>
    {% endfor %}
{% endfor %}
